[ssh_connection]
pipelining=True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ServerAliveInterval=120 -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

[defaults]
gathering = smart
inventory = hosts
roles_path = ./roles
host_key_checking=False
interpreter_python=auto_silent
timeout = 360
callbacks_enabled = ansible.posix.profile_tasks