search {{ SAMBA_DC_REALM }}
{% if inventory_hostname in groups['pdc'] %}
{% for host in groups['pdc'] %}
nameserver {{ hostvars[host].ansible_host }}
{% endfor %}
{% endif %}
{% if inventory_hostname in groups['dc'] %}
{% for host in groups['pdc'] %}
nameserver {{ hostvars[host].ansible_host }}
{% endfor %}
{% for host in groups['dc'] %}
nameserver {{ hostvars[host].ansible_host }}
{% endfor %}
{% endif %}
{% if inventory_hostname in groups['fileserver'] %}
{% for host in groups['pdc'] %}
nameserver {{ hostvars[host].ansible_host }}
{% endfor %}
{% for host in groups['dc'] %}
nameserver {{ hostvars[host].ansible_host }}
{% endfor %}
{% endif %}