<?xml version="1.0" encoding="UTF-8"?>
<Config Version="4" PlatformId="{00000000-0000-0000-0000-000000000000}">
	<Repositories>
		<Repository Name="Local_Driver" Type="LocalDrive">
			<LocalRepoOptions Version="1" Location="{{ SAMBA_VEEAM_BACKUP.BACKUP_LOCATION }}" DeviceMountPoint="" />
		</Repository>
	</Repositories>
	<Jobs>
		<Job Name="{{ inventory_hostname|upper }}-FILESERVER-BACKUP" creation_time="2021-11-07 02:36:56" RepoName="Local_Driver" {% if SAMBA_VEEAM_BACKUP.ENCRYPTION.ENABLED %}password="{{ SAMBA_VEEAM_BACKUP.ENCRYPTION.PASSWORD }}" hint=""{% endif %}>
			<JobOptions Version="2" Compression="Lz4" BlockSize="KbBlockSize1024" PrefreezeCommand="" PostthawCommand="" PrejobCommand="{% if not inventory_hostname in groups['fileserver'] %}/usr/sbin/samba_backup.sh{% endif %}" PostjobCommand="/etc/veeam/vee-mail.sh" ProductSpecific="" MaxPoints="7" IsDedupEnabled="true" SnapshotMode="SnapshotRequired" IsRetriable="true" RetryCount="0" RetryTimeOutMs="600000" Schedule="true">
				<EnableDeletedVmDataRetention>true</EnableDeletedVmDataRetention>
				<Schedule Hours="{{ SAMBA_VEEAM_BACKUP.BACKUP_SCHEDULE.HOUR }}" Minutes="{{ SAMBA_VEEAM_BACKUP.BACKUP_SCHEDULE.MINUTE }}" Type="0" Version="3" IsEnabled="true" WeekDayNumber="Every" DayOfMonth="0">
					<Time Type="0" Hours="{{ SAMBA_VEEAM_BACKUP.BACKUP_SCHEDULE.HOUR }}" Minutes="{{ SAMBA_VEEAM_BACKUP.BACKUP_SCHEDULE.MINUTE }}" />
					<WeekMask Monday="{{ SAMBA_VEEAM_BACKUP.BACKUP_SCHEDULE.MONDAY }}" Tuesday="{{ SAMBA_VEEAM_BACKUP.BACKUP_SCHEDULE.TUESDAY }}" Wednesday="{{ SAMBA_VEEAM_BACKUP.BACKUP_SCHEDULE.WEDNESDAY }}" Thursday="{{ SAMBA_VEEAM_BACKUP.BACKUP_SCHEDULE.THURSDAY }}" Friday="{{ SAMBA_VEEAM_BACKUP.BACKUP_SCHEDULE.FRIDAY }}" Saturday="{{ SAMBA_VEEAM_BACKUP.BACKUP_SCHEDULE.SATURDAY }}" Sunday="{{ SAMBA_VEEAM_BACKUP.BACKUP_SCHEDULE.SUNDAY }}" />
					<MonthMask January="true" February="true" March="true" April="true" May="true" June="true" July="true" August="true" September="true" October="true" November="true" December="true" />
				</Schedule>
				<ActiveFullOptions Version="1" IsEnabled="{{ SAMBA_VEEAM_BACKUP.BACKUP_FULL.ENABLED }}" WeekDayNumber="Every" DayOfMonth="{% if SAMBA_VEEAM_BACKUP.BACKUP_FULL.TYPE == 'month' %}{{ SAMBA_VEEAM_BACKUP.BACKUP_FULL.MONTH_DAY }}{% else %}0{% endif %}">
					<WeekMask Monday="{{ SAMBA_VEEAM_BACKUP.BACKUP_FULL.WEEK_DAY.MONDAY }}" Tuesday="{{ SAMBA_VEEAM_BACKUP.BACKUP_FULL.WEEK_DAY.TUESDAY }}" Wednesday="{{ SAMBA_VEEAM_BACKUP.BACKUP_FULL.WEEK_DAY.WEDNESDAY }}" Thursday="{{ SAMBA_VEEAM_BACKUP.BACKUP_FULL.WEEK_DAY.THURSDAY }}" Friday="{{ SAMBA_VEEAM_BACKUP.BACKUP_FULL.WEEK_DAY.FRIDAY }}" Saturday="{{ SAMBA_VEEAM_BACKUP.BACKUP_FULL.WEEK_DAY.SATURDAY }}" Sunday="{{ SAMBA_VEEAM_BACKUP.BACKUP_FULL.WEEK_DAY.SUNDAY }}" />
					<MonthMask January="true" February="true" March="true" April="true" May="true" June="true" July="true" August="true" September="true" October="true" November="true" December="true" />
				</ActiveFullOptions>
			</JobOptions>
			<ObjectsForBackup>
				<Object ObjectType="Directory" RecordType="Include" Value="{{ SAMBA_SHARE }}" />
			</ObjectsForBackup>
			<AapForBackup />
		</Job>
	</Jobs>
	<VbrServers />
	<CloudProviders />
</Config>